body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}
h1{
    font-size: 60px;
}
strong{
    font-size: 50px;
    color: rgb(202, 17, 219);
}
p{
    font-size: 20px;
}
h2 a{
    background-image: linear-gradient(to left, rgb(138, 9, 9), rgb(202, 202, 10));
    text-decoration: none;
    padding: 5px;
    color: #fff;
}
span{
    color:yellowgreen;
}
.portfolio{
    display: flex;
}
.welcome-part{
    background-image: url(../img/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    margin: 30px;
}
.half-width img{
    width: 70%;    
}
.middle{
    width: 50%;
    margin: 20px;
}
.middle img{
    width: 70%;
    border-radius:  50%;
}
.dream-part{
    background-image: url(../img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 20px;
}
.developer-part{
    border-image: linear-gradient(to top, #a13c01, rgb(253, 220, 4)) 30;
    box-shadow: 3px 2px 11px 2px #000000;
    border-left: 7px solid;
    border-radius:10px ;
    margin: 5px 45px;
    padding:0 8px;
}
.baby-part{
    border-image: linear-gradient(to top, #df1919, rgb(161, 0, 175)) 30;
}
footer p{
    text-align: center;
}
.experience{
    background-image: url(../img/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 60px;
}